:root {
  --primary-text-color: #212121;
  --first-color: #ffffff;
  --second-color: #757575;
  --accent-color: #2196f3;
  --header-footer-background-color: #2f303a;
  --section-background-color: #e5e5e5;
  --section-team-background-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --header-logo-color: #000000;
  --hero-hover: #188ce8;
  --border-header-line: #ececec;
  --example-border: #eeeeee;
  --social-color: #afb1b8;
  --footer-social-color: rgba(255, 255, 255, 0.1);
}
